body {
  background: #dcdcdc;
  margin-bottom: 100px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

#splash-container {
  width: 720px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url('img/splash.jpg');
  background-repeat: no-repeat;
  background-position-y: -80px;
  border-radius: 50px;
}
